### Import libs & data

data source : International Renewable Energy Agency (IRENA) (2022), Renewable Energy Statistics 2022, https://pxweb.irena.org/pxweb/en/IRENASTAT; IMF Staff Calculations.

data downloaded from : [IMF Climate Data](https://climatedata.imf.org/datasets/0bfab7fb7e0e4050b82bba40cd7a1bd5_0/about)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import requests
# pd.set_option('display.max_colwidth', None)

In [2]:
# define directories
proj_dir = os.path.dirname(os.getcwd())
print("Project Dir: ", proj_dir)
raw_data_dir = os.path.join(proj_dir, 'data', 'raw')
processed_data_dir = os.path.join(proj_dir, 'data', 'processed')
os.makedirs(processed_data_dir, exist_ok=True)

Project Dir:  /home/zephyr/workspace/Global_Energy_Trends/project_archive

In [3]:
# load main dataset
df = pd.read_csv(os.path.join(raw_data_dir, 'imf_renewable_energy.csv'), 
                 low_memory=False, encoding='utf-8', index_col=0)
print(df.shape)

(2063, 36)

In [4]:
# load isocode dataset
iso_df = pd.read_csv(os.path.join(raw_data_dir, 'iso_country_codes.csv'), 
                     low_memory=False, encoding='utf-8')
print(iso_df.shape)

(249, 4)

### Dataset Overview

In [5]:
df.columns

Index(['Country', 'ISO2', 'ISO3', 'Technology', 'Energy_Type', 'Indicator',
       'Unit', 'Source', 'CTS_Name', 'CTS_Code', 'CTS_Full_Descriptor',
       'F2000', 'F2001', 'F2002', 'F2003', 'F2004', 'F2005', 'F2006', 'F2007',
       'F2008', 'F2009', 'F2010', 'F2011', 'F2012', 'F2013', 'F2014', 'F2015',
       'F2016', 'F2017', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022', 'F2023',
       'F2024'],
      dtype='object')

In [6]:
df['Country'].nunique()  # 248 unique countries in our dataset

248

In [7]:
df.sample(5)

,Country,ISO2,ISO3,Technology,Energy_Type,Indicator,Unit,Source,CTS_Name,CTS_Code,...,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022,F2023,F2024
ObjectId,,,,,,,,,,,,,,,,,,,,,
501,Djibouti,DJ,DJI,Solar energy,Total Renewable,Electricity Generation,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,ECNEG,...,0.500,0.600,0.600,0.600,0.600,0.600,0.600,0.600,NaN,NaN
1794,Switzerland,CH,CHE,Hydropower (excl. Pumped Storage),Total Renewable,Electricity Installed Capacity,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,ECNEC,...,13346.000,14279.000,14826.000,14980.000,15012.000,15032.000,15050.000,16006.000,16220.0,16220.0
1885,Tunisia,TN,TUN,Wind energy,Total Renewable,Electricity Installed Capacity,Megawatt (MW),International Renewable Energy Agency (IRENA) ...,Electricity Installed Capacity,ECNEC,...,240.000,240.000,240.000,245.000,245.000,245.000,245.000,245.000,245.0,245.0
665,Finland,FI,FIN,Solar energy,Total Renewable,Electricity Generation,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,ECNEG,...,11.311,22.066,48.513,90.225,147.182,218.471,297.518,392.342,NaN,NaN
353,Chad,TD,TCD,Bioenergy,Total Renewable,Electricity Generation,Gigawatt-hours (GWh),International Renewable Energy Agency (IRENA) ...,Electricity Generation,ECNEG,...,9.092,9.209,8.661,8.237,6.600,7.606,8.202,8.612,NaN,NaN

Each row in the dataset corresponds to a specific [country](https://www.iban.com/country-codes), energy technology type available.
Technologies are classified under renewable or non‑renewable categories, and further separated into two indicators: Electricity Generation (measured in gigawatt‑hours, GWh) and Installed Capacity (measured in megawatts, MW).

The columns include metadata attributes such as country codes (ISO2, ISO3), technology name, energy type, and indicator description, etc., followed by annual values spanning from 2000 to 2024 that record the evolution of generation and capacity over time.

Next, we'll see which countries are represented in our dataset.

> The term *"country"* as used in this workbook and associated analysis refers to the list of entities provided by the IBAN.com country codes list, which is based on the ISO 3166‑1 standard. This list includes sovereign states as well as various dependencies, overseas territories, and special areas of geographical interest, each assigned a unique code for data processing and communication purposes.

##### Country List in Dataset

In [8]:
df['ISO3'].isnull().sum() # no missing ISO3 codes

# codes that are in our datasets but not in the ISO 3166 international standard list
to_define = set(set(df['ISO3']) - set(iso_df['Alpha-3 code']))
# codes that are in ISO 3166 international standard list but not in our dataset
missing_codes = set(set(iso_df['Alpha-3 code']) - set(df['ISO3']))

In [9]:
# codes not in ISO 3166 international standard list 
df[df['ISO3'].isin(to_define)]\
    .groupby('ISO3')['Country'].unique()

ISO3
AETMP                     [Advanced Economies]
AMETMP                              [Americas]
ASIATMP                                 [Asia]
EMDETMP    [Emerging and Developing Economies]
EURTMP                                [Europe]
LACTMP       [Latin America and the Caribbean]
NA119                                     [G7]
NA120                                    [G20]
NA225                       [Northern America]
NA510                           [Eastern Asia]
NA605                                 [Africa]
NACA                            [Central Asia]
NAEE                          [Eastern Europe]
NANA9                        [Northern Africa]
NANE                         [Northern Europe]
NASA                           [Southern Asia]
NASE                         [Southern Europe]
NASEA                     [South-eastern Asia]
NAWA                            [Western Asia]
NAWE                          [Western Europe]
OCETMP                               [Oceania]
OCRTMP                   [Oceania sub-regions]
SSA                       [Sub-Saharan Africa]
WLD                                    [World]
XKX                      [Kosovo, Republic of]
Name: Country, dtype: object

Republic of Kosovo is not a UN member and its statehood is disputed which is why its code is not in our iso df.

We will add a new column for filtering between aggregated regions and individual regions.

In [10]:
# add new column for filtering between individual countries and aggregated regions
region_codes = to_define
df['Region_type'] = df['ISO3'].apply(lambda x: 'Aggregated Region' if x in region_codes else 'Country')

In [11]:
# codes not in our dataset
iso_df[iso_df['Alpha-3 code'].isin(missing_codes)]\
        .groupby('Alpha-3 code')['Country'].unique()

Alpha-3 code
ALA                                   [Åland Islands]
ATA                                      [Antarctica]
ATF               [French Southern Territories (the)]
BMU                                         [Bermuda]
BVT                                   [Bouvet Island]
CCK                   [Cocos (Keeling) Islands (the)]
CXR                                [Christmas Island]
ESH                                  [Western Sahara]
GGY                                        [Guernsey]
GIB                                       [Gibraltar]
HMD               [Heard Island and McDonald Islands]
IMN                                     [Isle of Man]
IOT            [British Indian Ocean Territory (the)]
JEY                                          [Jersey]
LIE                                   [Liechtenstein]
MAC                                           [Macao]
MCO                                          [Monaco]
MNP                  [Northern Mariana Islands (the)]
NFK                                  [Norfolk Island]
PCN                                        [Pitcairn]
SHN    [Saint Helena, Ascension and Tristan da Cunha]
SJM                          [Svalbard and Jan Mayen]
SMR                                      [San Marino]
UMI      [United States Minor Outlying Islands (the)]
VAT                                  [Holy See (the)]
WLF                               [Wallis and Futuna]
Name: Country, dtype: object

The dataset contains no missing ISO3 codes; however, several entries do not correspond to official ISO 3166 country codes. Instead, these represent aggregated regions or economic groups such as Advanced Economies, Emerging Economies, G20, G7, World, and Sub‑Saharan Africa.

At the same time, some small territories and microstates (e.g., Monaco, Liechtenstein, Gibraltar, Isle of Man) are included in the ISO standard list but are absent from the dataset, likely due to negligible electricity generation. This structure shows that the dataset is designed to capture information not only at the country level but also at broader regional and economic bloc levels.

##### Attribute Details

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2063 entries, 1 to 3779
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              2063 non-null   object
 1   ISO2                 1791 non-null   object
 2   ISO3                 2063 non-null   object
 3   Technology           2063 non-null   object
 4   Energy_Type          2063 non-null   object
 5   Indicator            2063 non-null   object
 6   Unit                 2063 non-null   object
 7   Source               2063 non-null   object
 8   CTS_Name             2063 non-null   object
 9   CTS_Code             2063 non-null   object
 10  CTS_Full_Descriptor  2063 non-null   object
 11  F2000                1406 non-null   float64
 12  F2001                1437 non-null   float64
 13  F2002                1461 non-null   float64
 14  F2003                1473 non-null   float64
 15  F2004                1511 non-null   float64
 16  F2005                1549 non-null   float64
 17  F2006                1571 non-null   float64
 18  F2007                1616 non-null   float64
 19  F2008                1652 non-null   float64
 20  F2009                1698 non-null   float64
 21  F2010                1750 non-null   float64
 22  F2011                1793 non-null   float64
 23  F2012                1840 non-null   float64
 24  F2013                1897 non-null   float64
 25  F2014                1937 non-null   float64
 26  F2015                1960 non-null   float64
 27  F2016                1987 non-null   float64
 28  F2017                2002 non-null   float64
 29  F2018                2011 non-null   float64
 30  F2019                2024 non-null   float64
 31  F2020                2039 non-null   float64
 32  F2021                2040 non-null   float64
 33  F2022                2039 non-null   float64
 34  F2023                1028 non-null   float64
 35  F2024                1028 non-null   float64
 36  Region_type          2063 non-null   object
dtypes: float64(25), object(12)
memory usage: 612.5+ KB

In [13]:
# remove ISO2 column as it is redundant given ISO3
to_drop = ['ISO2']
to_drop = df.columns.intersection(to_drop)
df.drop(columns=to_drop, inplace=True)

In [14]:
# get technology for each energy type in a table
energy_types_map = \
    df[['Technology', 'Energy_Type']].drop_duplicates().reset_index(drop=True)
energy_types_map

                          Technology          Energy_Type
0                          Bioenergy      Total Renewable
1                       Fossil fuels  Total Non-Renewable
2  Hydropower (excl. Pumped Storage)      Total Renewable
3                       Solar energy      Total Renewable
4                        Wind energy      Total Renewable

The dataset currently includes five technology types mapped into two energy types. However, other technologies such as nuclear energy, tidal/wave energy, geothermal, and pumped storage hydro are missing. As a result, for countries that rely heavily on these sources (e.g., France with nuclear ([70% of its electricity](https://world-nuclear.org/Information-Library/Country-Profiles/countries-A-F/France)), [Iceland with geothermal](https://www.government.is/topics/business-and-industry/energy/), UK with tidal pilots, etc.,), their total electricity generation and installed capacity will be under‑represented in this dataset.

In [15]:
# type of unit for each indicator
inicator_units = \
    df[['Indicator', 'Unit']].drop_duplicates().reset_index(drop=True)
inicator_units

                        Indicator                  Unit
0          Electricity Generation  Gigawatt-hours (GWh)
1  Electricity Installed Capacity         Megawatt (MW)

In [16]:
# drop the source col since it is the same for all rows
to_drop = ['Source']
to_drop = df.columns.intersection(to_drop)
df.drop(columns=to_drop, inplace=True)

In [17]:
# check CTS code, name and description mappings
cts_map = \
    df[['CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor', 'Indicator']].drop_duplicates().reset_index(drop=True)
cts_map

,CTS_Code,CTS_Name,CTS_Full_Descriptor,Indicator
0,ECNEG,Electricity Generation,"Environment, Climate Change, Mitigation, Renew...",Electricity Generation
1,ECNEC,Electricity Installed Capacity,"Environment, Climate Change, Mitigation, Renew...",Electricity Installed Capacity

In [18]:
# drop the CTS_Name and CTS_Full_Descriptor columns since Indicator is sufficient
to_drop = ['CTS_Name', 'CTS_Full_Descriptor', 'CTS_Code']
to_drop = df.columns.intersection(to_drop)
df.drop(columns=to_drop, inplace=True)

##### Check Missing Data

In [19]:
# check missing values
df.isnull().sum()

Country           0
ISO3              0
Technology        0
Energy_Type       0
Indicator         0
Unit              0
F2000           657
F2001           626
F2002           602
F2003           590
F2004           552
F2005           514
F2006           492
F2007           447
F2008           411
F2009           365
F2010           313
F2011           270
F2012           223
F2013           166
F2014           126
F2015           103
F2016            76
F2017            61
F2018            52
F2019            39
F2020            24
F2021            23
F2022            24
F2023          1035
F2024          1035
Region_type       0
dtype: int64

We have missing data, but need to see if data is missing at random or systematically missing. 
Does earlier years have more missing data percentage than more recent years?
Or do certain countries have a higher volume of missing data compared to the rest?

In [20]:
# we only want to check missing values in these columns
year_cols = [col for col in df.columns if col.startswith("F")]

# calculate missing values count by country across all year columns
missing_by_country = (
    df.groupby("Country")[year_cols]
      .apply(lambda x: x.isnull().sum().sum())
)

# calculate total possible values per country
total_values_per_country = len(year_cols) * df.groupby("Country").size() # all years * num of rows per country
missing_pct_by_country = (missing_by_country / total_values_per_country) * 100 

# create a summary dataframe
missing_data_summary = pd.DataFrame({
    "Missing_Count": missing_by_country,
    "Total_Values": total_values_per_country,
    "Missing_Percent": missing_pct_by_country.round(2)
}).sort_values("Missing_Percent", ascending=False)

missing_data_summary

,Missing_Count,Total_Values,Missing_Percent
Country,,,
"South Sudan, Rep. of",52,100,52.00
"Sint Maarten, Kingdom of the Netherlands",26,50,52.00
Montenegro,102,200,51.00
Cayman Islands,74,150,49.33
Djibouti,74,150,49.33
...,...,...,...
United States,10,250,4.00
United Kingdom,10,250,4.00
Western Asia,10,250,4.00
Western Europe,10,250,4.00
World,10,250,4.00

For some countries around 50% of data is missing. How many such countries do we have in this dataset?

In [21]:
missing_data_summary['Missing_Percent'].describe()

count    248.000000
mean      18.478065
std       12.655432
min        4.000000
25%        5.200000
50%       16.250000
75%       28.000000
max       52.000000
Name: Missing_Percent, dtype: float64

Across our dataset, a quarter of countries have less than **5% missing data**. The median is **16%**, meaning half of the dataset is reasonably well‑covered. At the upper end, some countries are missing over **50% of values**, which might limit their usability for certain time‑series analysis. 

However, the dataset is generally **usable**, especially for countries with <20% missing data, but analyses should account for incomplete coverage in certain regions and consider restricting to well‑reported years or applying suitable imputation methods.

Moreover, we should see if missing data across time and association with certain geographical regions.

In [22]:
# next we will check the amount of missing data per year across all countries
yearly_missing = df[year_cols].isnull().sum()
yearly_total = df[year_cols].shape[0]
yearly_missing_pct = (yearly_missing / yearly_total) * 100
yearly_missing_summary = pd.DataFrame({
    "Missing_Count": yearly_missing,
    "Total_Values": yearly_total,
    "Missing_Percent": yearly_missing_pct.round(2)
})
yearly_missing_summary

       Missing_Count  Total_Values  Missing_Percent
F2000            657          2063            31.85
F2001            626          2063            30.34
F2002            602          2063            29.18
F2003            590          2063            28.60
F2004            552          2063            26.76
F2005            514          2063            24.92
F2006            492          2063            23.85
F2007            447          2063            21.67
F2008            411          2063            19.92
F2009            365          2063            17.69
F2010            313          2063            15.17
F2011            270          2063            13.09
F2012            223          2063            10.81
F2013            166          2063             8.05
F2014            126          2063             6.11
F2015            103          2063             4.99
F2016             76          2063             3.68
F2017             61          2063             2.96
F2018             52          2063             2.52
F2019             39          2063             1.89
F2020             24          2063             1.16
F2021             23          2063             1.11
F2022             24          2063             1.16
F2023           1035          2063            50.17
F2024           1035          2063            50.17

Missing data is highest in the early years, with ~32% of values absent in 2000. Coverage steadily improves over time, dropping below 5% by 2015 and reaching ~1% by 2020–2022. However, the most recent years (2023–2024) show a sharp spike, with ~50% of values missing, likely due to provisional or unreported data. Overall, the dataset is most reliable from 2010–2022, while earlier years and the latest two years require caution.

In [23]:
# save df version 1 to parquet
# changes: dropped ISO2, Source, CTS_Name, CTS_Full_Descriptor columns; added Region_type column

output_path = os.path.join(processed_data_dir, 'imf_renewable_energy_v1.parquet')
df.to_parquet(output_path, engine='pyarrow', index=False)

### Transform Dataset

The dataset contains numerical variables (electricity generation in GWh and installed capacity in MW) across years 2000–2024, stored in wide format with each year as a separate column (e.g., F2000, F2001). This structure is efficient for storage but hinders time-series analysis and visualization.

To address this, we will first transform the data to long format by melting the year columns into `Year` and `Value` columns. This enables easier aggregation, plotting, and modeling for trends and correlations.

Geospatial features (e.g., continents, subregions, polygons) are relevant only at the country level. To avoid redundancy in the long-format dataset, we will add these after transformation, creating a separate GeoDataFrame for countries. This keeps the long dataset lean for analysis while supporting map-based visualizations.

In [24]:
df.columns

Index(['Country', 'ISO3', 'Technology', 'Energy_Type', 'Indicator', 'Unit',
       'F2000', 'F2001', 'F2002', 'F2003', 'F2004', 'F2005', 'F2006', 'F2007',
       'F2008', 'F2009', 'F2010', 'F2011', 'F2012', 'F2013', 'F2014', 'F2015',
       'F2016', 'F2017', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022', 'F2023',
       'F2024', 'Region_type'],
      dtype='object')

In [25]:
# separate year and other categorical variable for transforming to long format
year_cols = [col for col in df.columns if col.startswith("F")]
id_vars = [col for col in df.columns if col not in year_cols]
print(year_cols)
print(id_vars)

['F2000', 'F2001', 'F2002', 'F2003', 'F2004', 'F2005', 'F2006', 'F2007', 'F2008', 'F2009', 'F2010', 'F2011', 'F2012', 'F2013', 'F2014', 'F2015', 'F2016', 'F2017', 'F2018', 'F2019', 'F2020', 'F2021', 'F2022', 'F2023', 'F2024']
['Country', 'ISO3', 'Technology', 'Energy_Type', 'Indicator', 'Unit', 'Region_type']

In [26]:
df = df.melt(id_vars = id_vars, value_vars = year_cols, var_name="Year", value_name="Value")
df["Year"] = df["Year"].str.replace('F', '').astype(int)
df.sample(3)

,Country,ISO3,Technology,Energy_Type,Indicator,Unit,Region_type,Year,Value
23403,Gabon,GAB,Hydropower (excl. Pumped Storage),Total Renewable,Electricity Generation,Gigawatt-hours (GWh),Country,2011,840.988
13216,Honduras,HND,Bioenergy,Total Renewable,Electricity Installed Capacity,Megawatt (MW),Country,2006,59.800
35729,Finland,FIN,Bioenergy,Total Renewable,Electricity Generation,Gigawatt-hours (GWh),Country,2017,11860.000

In [27]:
# rename hydropower label since it is too long
label_rename = {"Hydropower (excl. Pumped Storage)":"Hydropower"}
df['Technology'] = df['Technology'].replace(label_rename)

In [28]:
# save the long format dataset
output_path = os.path.join(processed_data_dir, 'imf_renewable_energy_v2.parquet')
df.to_parquet(output_path, engine="pyarrow", index=False)

### Add Geospatial Data

In [29]:
import geopandas as gpd

# load shapefile from natural earth dataset (https://www.naturalearthdata.com/downloads/110m-cultural-vectors/)
shapefile_path = os.path.join(proj_dir, 'data', 'raw', 'natural_earth', 'ne_110m_admin_0_countries.shp')
world = gpd.read_file(shapefile_path)

# find relevant columns
print([i for i in world.columns if "ISO" in i or "REGION" in i or "CONTINENT" in i])

['ISO_A2', 'ISO_A2_EH', 'ISO_A3', 'ISO_A3_EH', 'ISO_N3', 'ISO_N3_EH', 'ADM0_ISO', 'CONTINENT', 'REGION_UN', 'SUBREGION', 'REGION_WB', 'FCLASS_ISO']

In [30]:
df[df['Region_type']=='Country']['ISO3'].unique()[:10]

array(['AFG', 'ALB', 'DZA', 'ASM', 'AND', 'AGO', 'AIA', 'ATG', 'ARG',
       'ARM'], dtype=object)

In [31]:
geo_data = world[["ISO_A3", "NAME", "CONTINENT", "SUBREGION", "geometry"]].copy()
geo_data.sample(3)

,ISO_A3,NAME,CONTINENT,SUBREGION,geometry
98,IND,India,Asia,Southern Asia,"POLYGON ((97.32711 28.26158, 97.40256 27.88254..."
1,TZA,Tanzania,Africa,Eastern Africa,"POLYGON ((33.90371 -0.95, 34.07262 -1.05982, 3..."
113,POL,Poland,Europe,Eastern Europe,"POLYGON ((23.48413 53.9125, 23.52754 53.47012,..."

In [32]:
# save processed geo_data
output_path = os.path.join(processed_data_dir, "geo_data.geoparquet")
geo_data.to_parquet(output_path, index=False)

### Profile All Datasets with Pandas profiling

In [33]:
# pandas data profiling for all datasets
from ydata_profiling import ProfileReport

/home/zephyr/workspace/Global_Energy_Trends/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [34]:
# Profile the main energy dataset (use minimal=True for speed on large data)
profile_df = ProfileReport(df[df['Region_type']=="Country"], title="IMF Renewable Energy Dataset Profile", minimal=True)
profile_df.to_file(os.path.join(processed_data_dir, "energy_dataset_profile.html"))
print("Profile saved to data/processed/energy_dataset_profile.html")

/home/zephyr/workspace/Global_Energy_Trends/.venv/lib/python3.12/site-packages/ydata_profiling/utils/dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
100%|██████████| 9/9 [00:00<00:00, 311.28it/s]0<00:00, 28.18it/s, Describe variable: Value]
Summarize dataset: 100%|██████████| 15/15 [00:00<00:00, 73.69it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.70s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  7.25it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 263.36it/s]

Profile saved to data/processed/energy_dataset_profile.html

In [35]:
# Profile ISO codes dataset
profile_iso = ProfileReport(iso_df, title="ISO Country Codes Profile")
profile_iso.to_file(os.path.join(processed_data_dir, "iso_codes_profile.html"))
print("Profile saved to processed/iso_codes_profile.html")

100%|██████████| 4/4 [00:00<00:00, 391.50it/s]<?, ?it/s, Describe variable: Numeric]
Summarize dataset: 100%|██████████| 14/14 [00:00<00:00, 71.13it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:01<00:00,  1.34s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00, 37.49it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 378.27it/s]

Profile saved to processed/iso_codes_profile.html

### Preprocessing Findings Summary

1. **Dataset Overview**:
    - Loaded main dataset with 248 unique countries and aggregated regions.
    - Technologies: Bioenergy, Fossil fuels, Hydropower, Solar, Wind.
    - Indicators: Electricity Generation (GWh) and Installed Capacity (MW).
    - Years: 2000-2024.

2. **Data Cleaning**:
    - Dropped redundant columns: ISO2, Source, CTS_Name, CTS_Full_Descriptor, CTS_Code.
    - Added 'Region_type' column to distinguish countries from aggregated regions.
    - No missing ISO3 codes; some ISO3 codes represent regions (e.g., AETMP for Advanced Economies).

3. **Missing Data Analysis**:
    - Overall missing data: ~17% across the dataset.
    - By country: Median 16% missing; some countries >50% missing (e.g., South Sudan).
    - By year: High missing in early years (32% in 2000) and recent years (50% in 2023-2024); reliable from 2010-2022.
    - Missing data is not random; caution needed for time-series analysis.

4. **Data Transformation**:
    - Converted from wide to long format: Melted year columns (F2000-F2024) into 'Year' and 'Value' columns.
    - Resulting long dataset has 51,575 rows.

5. **Geospatial Integration**:
    - Added geospatial data from Natural Earth shapefile.
    - Created GeoDataFrame with ISO3, Country, Continent, Subregion, Geometry.
    - Saved as geo_data.geoparquet.

6. **Data Profiling**:
    - Generated Pandas profiling reports for the energy dataset and ISO codes.
    - Profiles saved as HTML files in processed_data_dir.

7. **Saved Versions**:
    - Cleaned wide format: imf_renewable_energy_v1.parquet
    - Long format: imf_renewable_energy_v2.parquet
    - Geospatial data: geo_data.geoparquet